.contents-panel {
  margin-top: 24px;
}
.ex-box {
  padding: 50px;
  background-color: #f5f7fb;
  border-radius: 24px;
  .cnt-sub-title + p {
    @include font(16px, 400, 23px);
    color: #4e4e4e;
  }
  .cnt-sub-title:has(+ p) {
    margin-bottom: 8px;
  }
  .pre-face {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #6a7282;
  }
  .img-box {
    margin: 60px auto;
    h4 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #212121;
    }
    img {
      margin: 0 auto;
      width: fit-content;
      height: 100%;
      object-fit: contain;
    }
  }
  .rule-box {
    padding-block: 50px;
    background-color: #ffffff;
    border: 1px solid #d3d6de;
    border-radius: 20px;
    h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #171b22;
    }
    & > div {
      padding-inline: 50px;
    }
    .rec-tone {
      padding-bottom: 40px;
      p {
        text-align: center;
      }
      span {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #4e4e4e;
      }
      div:has(.badge-box) {
        flex: 1;
      }
      .badge-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 38px;
        border-radius: 48px;
        font-size: 17px;
        font-weight: 800;
        &.main {
          background-color: #dbeeff;
          color: #2873e3;
        }
        &.sub {
          background-color: #f3f9ff;
          color: #4393f0;
        }
      }
      .flex-col {
        @include flex(column, center, center, 0);
      }
    }
    .write-rule {
      padding-top: 40px;
      border-top: 1px solid #d3d6de;
      p {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333942;
      }
      .rule-detail {
        display: flex;
        align-items: center;
        gap: 9px;
        & > div {
          width: 54px;
          height: 12px;
          background: url("../../../src/images/icon/situation/situation_arrow_1.svg")
            no-repeat center;
        }
        & + .rule-detail {
          margin-top: 10px;
        }
      }
      .detail-list {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 9px;
        padding: 12px 18px;
        border-radius: 7px;
        border-width: 1px;
        background-color: #f4f6fa;
        border: 1px solid #d3d6de;
        dt {
          font-size: 15px;
          font-weight: 600;
          line-height: 22px;
          color: #8a909a;
        }
        dd {
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          color: #454855;
        }
        &.rec {
          background: #eaf3ff;
          border: 1px solid #c1e0fc;
          dt {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #2873e3;
          }
          dd {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #101116;
          }
        }
      }
    }
  }
}
.factor-wrap {
  @include flex(column, flex-start, flex-start, 0);
  flex: 1;
  padding: 24px;
  border: 1px solid #d3d6de;
  border-radius: 14px;
  gap: 8px;
  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #171b22;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #101116;
  }
  .ex {
    color: #5a5e6c;
  }
  .factor-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #30323b;
    &:before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #fce5e4
        url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L4 12M4 4L12 12' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        no-repeat center;
    }
    &.do:before {
      background: #bdf4e9
        url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 8L7 11L12 5' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        no-repeat center;
    }
  }
}
.message-template-wrap {
  padding: 50px;
  background-color: #f5f7fb;
  border-radius: 40px;
  h4 {
    @include font(24px, 700, 1.4);
  }
  p {
    margin-top: 8px;
    @include font(16px, 400, 23px);
    color: #4e4e4e;
  }
  .inner-box {
    margin-top: 40px;
    @include flex(row, flex-start, space-between, 40px);
    & > div {
      flex: 1;
    }
    h5 {
      @include font(20px, 600, 28px);
    }
    p {
      margin-top: 5px;
    }
    ul {
      margin-top: 21px;
      li {
        @include flex(row, flex-start, flex-start, 9px);
        * {
          @include font(16px, 600, 24px);
        }
        span {
          color: #4393f0;
        }
        p {
          margin-top: 0;
          font-weight: 400;
        }
        & + li {
          margin-top: 8px;
        }
      }
    }
  }
}
