// =============================================================================
// COLOR
// =============================================================================

// PRIMARY COLOR
$cl-black: #000;
$cl-white: #fff;
$cl-primary: #4393f0;

// GRAY COLOR
$cl-gr-100: #e1e3ea;
$cl-gr-150: #d3d6de;
$cl-gr-200: #c5c8d3;
$cl-gr-300: #b1b5c3;
$cl-gr-400: #979baa;
$cl-gr-500: #737684;
$cl-gr-600: #5a5e6c;
$cl-gr-700: #454855;
$cl-gr-800: #30323b;
$cl-gr-900: #101116;

// BLUE COLOR
$cl-blue-50: #f3f9ff;
$cl-blue-100: #e4f2ff;
$cl-blue-150: #dbeeff;
$cl-blue-200: #c1e0fc;
$cl-blue-300: #96cdfa;
$cl-blue-400: #69aeff;
$cl-blue-500: #4393f0;
$cl-blue-600: #2c74e4;
$cl-blue-700: #235fd2;
$cl-blue-800: #234eaa;
$cl-blue-850: #224486;
$cl-blue-900: #2f3f5f;
$cl-blue-1000: #2d3443;

// SEMANTIC COLOR
$cl-blue: #1654d1;
$cl-blue-light: #b6caf3;
$cl-red: #ee473d;
$cl-red-light: #fae1df;
$cl-orange: #c85000;
$cl-orange-light: #f5e0d3;
$cl-green: #158463;
$cl-green-light: #e4f1ed;

// TEXT COLOR
$cl-title: #212121;
$cl-sub-title: #111827;
$cl-text-1: #374151;
$cl-text-2: #4e4e4e;
$cl-text-3: #6a7282;
$cl-text-4: #9ca3af;

// COMPONENT COLOR
$cl-box-bg: #f3f4f7;
$cl-border: #e5e7eb;
$cl-table-header: #f3f9ff;

// =============================================================================
// MARGIN & PADDING
// =============================================================================

$spaceamounts: (
    -20,
    0,
    4,
    8,
    12,
    16,
    20,
    24,
    28,
    32,
    36,
    40,
    44,
    48,
    52,
    56,
    60,
    80,
    100,
    120
);

@each $space in $spaceamounts {
    //All around Margin
    .m-#{$space} {
        margin: #{$space}px !important;
    }
    //Margin
    .ml-#{$space} {
        margin-left: #{$space}px !important;
    }
    .mr-#{$space} {
        margin-right: #{$space}px !important;
    }
    .mt-#{$space} {
        margin-top: #{$space}px !important;
    }
    .mb-#{$space} {
        margin-bottom: #{$space}px !important;
    }

    //All around Padding
    .p-#{$space} {
        padding: #{$space}px;
    }
    //Padding
    .pl-#{$space} {
        padding-left: #{$space}px !important;
    }
    .pr-#{$space} {
        padding-right: #{$space}px !important;
    }
    .pt-#{$space} {
        padding-top: #{$space}px !important;
    }

    // Gap
    .gap-#{$space} {
        gap: #{$space}px !important;
    }
}
